bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea
/.vs
/.idea
/.vs
*.user
[Dd]ebug
[Rr]elease
[Tt]est[Rr]esults
.vscode/

.env*
!.env.example
.build-args

appsettings.*.json
/appsettings.Development.json

/storage